/*****************  BODY   ****************************/


*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
    --ff--primary: 'Roboto', sans-serif;
    --black: #303030;



    --seach: #06181C;
    --buttoncolor: #065E7C;
    --azulmaisclaro: #4A808C;
    --azulescuro: #092D38;
    --cinza: #E1E1E6;
    --branco: #FFFFFF;
    --red: #F75A68;

    --fundo: rgba(6, 22, 27, 0.5);
}

body {
    
    font-size: 1.6rem;
    color: var(--black);
    background-color: #000000;
    width: 100%;

}

body * {
    font-family: var(--ff--primary);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2rem;
}

/*****************  HEADER   ****************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    width: 90rem;
    background-color: var(--primary-color);
    padding-top: 5rem;
    padding-bottom: 5.4rem;
}
input {
    background-color: var(--seach);
    height: 4.15rem;
    border-radius: 5px 0 0 5px;
    width: 30rem;
    padding: 0 1rem;
    border: none;
    color: var(--branco)
}
#button-seach {
    background-color: var(--buttoncolor);
    color: var(--branco);
    width: 15rem;
    height: 4rem;
    border-radius: 0 5px 5px 0;
    border: none;
    }

   
#button-seach:hover {
        background-color: var(--branco);
        color: var(--buttoncolor);
        transition: 0.4s all;
        cursor: pointer;
    }
 

.star {
        
        border: 1px solid #4A808C;
        height: 40rem;
        width: 90.1rem;
        display: flex;
        justify-content: center;
    }

.star svg  {
        position: relative;
        top: 150px;
    }

.star span {
        position: relative;
        top: 190px;
        left: 30px;
        font-size: 3rem;
    }




    
        /*****************  SCROLL DA TABLE   ********************/   
    




      
        ::-webkit-scrollbar {
            width: 8px;
            max-height: 19px; 

            
          }

          ::-webkit-scrollbar-track {
            margin-top: 10px;
            margin-bottom: 10px;
   
        }
        
          ::-webkit-scrollbar-thumb {
            background: #4A808C;
            border-right: 4px transparent solid;
            
            background-clip: padding-box;
          }


    /*****************  TABELA   ********************/    
    
    table {
        
        display: flex;
        flex-direction: column;
        width: 90rem;
        border-spacing: 0px;
        border-collapse: collapse;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        outline: 1px solid #4A808C;

    }   
    
    a {
        text-align: start;
        color: #E1E1E6;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
    }

    a span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: #E1E1E6;
    }

    thead {
        background-color: var(--azulescuro);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        
    }
    
    table td {
        text-align: center;
       height: 7rem;
       background: rgba(6, 22, 27, 0.5);
       color: var(--cinza);
       font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        padding: 1.5rem;

    }
    
    .remover button {
        color: var(--red);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 160%;
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    table th {
        text-align: left;
        font-weight: normal;
        padding: 1rem;
        color: var(--cinza);
    }
    
    table th:first-child {
        border-top-left-radius: 10px;
    }
    table th:last-child {
        border-top-right-radius: 10px;
    }
         
    tr:nth-child(even) {
            background-color: var(--seach);
            border-top: 1px solid #4A808C;
            border-bottom: 1px solid #4A808C;
    
        }











/************* POSICOES DA TABELA ***********/

.Usuário {
    font-size: 1.8rem;
    font-weight: 900;
    width: 38rem;
    padding-left: 3rem;
}
.Repositories, .Followers, .Ação {
    font-weight: 900;

    padding-left: 6.8rem;
    font-size: 1.8rem;
    width: 10rem;
    height: 7rem;
    text-align: center;
}
td.user {
    width: 1350px;
}
td.remover {
    width: 700px;
}
td.seguidores {
    width: 200px;
}
td.repositores

tbody td.repo {
    position: absolute;
    padding-left: 12rem;
    margin-left: 10rem;
}

td {

    width: 100%;
    padding-left: 2rem;
}

tbody tr {


    display: flex;
    text-align: start;
    align-items: center;
   
}

table tbody {
    display: flex;
    flex-direction: column;
    max-height: 45.8rem;
    overflow: auto; 
    overflow: overlay; 
}


table tbody tr td:first-child {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.user img {
    height: 5.6rem;
    width: 5.6rem;
    object-fit: cover;
    border-radius: 50%;
}

.none {
    display: none;
}


































